
*.dll
*.config
webapi/.vs/rs1-webapi-ispit/v17/.suo
*.props
*.json
*.pdb
webapi/FIT_Api_Examples/obj/project.nuget.cache
webapi/FIT_Api_Examples/obj/Debug/net6.0/FIT_Api_Examples.MvcApplicationPartsAssemblyInfo.cache
webapi/FIT_Api_Examples/obj/Debug/net6.0/FIT_Api_Examples.csproj.FileListAbsolute.txt
webapi/.vs/rs1-webapi-ispit/config/applicationhost.config
webapi/.vs/rs1-webapi-ispit/v17/.suo
webapi/FIT_Api_Examples/bin/Debug/net6.0/FIT_Api_Examples.exe
webapi/FIT_Api_Examples/obj/Debug/net6.0/FIT_Api_Examples.AssemblyInfoInputs.cache
webapi/FIT_Api_Examples/obj/Debug/net6.0/FIT_Api_Examples.AssemblyInfo.cs
webapi/FIT_Api_Examples/obj/Debug/net6.0/FIT_Api_Examples.assets.cache
webapi/FIT_Api_Examples/obj/Debug/net6.0/FIT_Api_Examples.csproj.AssemblyReference.cache
*.CopyComplete
*.cache
webapi/FIT_Api_Examples/obj/Debug/net6.0/FIT_Api_Examples.assets.cache
webapi/.vs/rs1-webapi-ispit/v17/.suo
webapi/.vs/rs1-webapi-ispit/config/applicationhost.config
webapi/FIT_Api_Examples/obj/Debug/net6.0/FIT_Api_Examples.csproj.FileListAbsolute.txt
webapi/FIT_Api_Examples/obj/Debug/net6.0/FIT_Api_Examples.GeneratedMSBuildEditorConfig.editorconfig
webapi/FIT_Api_Examples/obj/Debug/net6.0/FIT_Api_Examples.MvcApplicationPartsAssemblyInfo.cs
webapi/FIT_Api_Examples/obj/Debug/net6.0/FIT_Api_Examples.csproj.FileListAbsolute.txt
webapi/FIT_Api_Examples/obj/Debug/net6.0/FIT_Api_Examples.assets.cache
webapi/.vs/rs1-webapi-ispit/v17/.suo
webapi/.vs/rs1-webapi-ispit/config/applicationhost.config
